:root {
    --bg: #0b0f14;
    --panel: rgba(255, 255, 255, 0.04);
    --panel-strong: rgba(255, 255, 255, 0.06);
    --border: rgba(255, 255, 255, 0.10);
    --border-soft: rgba(255, 255, 255, 0.07);

    --text: #f4f4f5;
    /* zinc-100 */
    --muted: rgba(255, 255, 255, 0.70);
    --muted2: rgba(255, 255, 255, 0.58);

    --etc: #33ff99;
}